# Images / Videos
*.png
*.jpg
*.jpeg
*.m4a
*.mkv
*.mp4

# Directories
.cache/
logs/

.vscode
__pycache__
**/.ipynb_checkpoints/**

# datasets
data/coco/
data/mnist_object_detection
data/original_mnist
outputs/
outputs_old/
outputs_old_2/
outputs_old_3/
data/VOCdevkit
notebooks/data